.container {
  display: flex;
  justify-content: space-between;
  background-color: #0a192f;
}
.logo {
  width: 7%;
}
.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}
.navList {
  display: flex;
}
.navContainer .navList li {
  color: #64ffda;
  padding-right: 20%;
}
a {
  text-decoration: none;
  color: #ccd6f6;
  font-family: "Inter";
  font-size: 16px;
}
a:hover {
  color: #64ffda;
}
