<ion-header>
  <ion-toolbar>
    <div class="container">
      <ion-button fill="clear" class="logo" href="#menu">
        <img src="../../assets/logo.gif" alt="gfr" />
      </ion-button>
      <ion-icon class="menuIcon" name="menu-outline"></ion-icon>
      <div class="navContainer">
        <ion-list class="navList">
          <ion-button fill="clear">Sobre</ion-button>
          <ion-button fill="clear">Experiencia</ion-button>
          <ion-button fill="clear">Projetos</ion-button>
          <ion-button fill="clear">Contato</ion-button>
        </ion-list>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
