<section class="all">
  <div class="contactContainer">
    <h1 class="title">Get in Touch</h1>
    <span class="subtitle"
      >Para negócios e parcerias aqui está meu contato!</span
    >
    <div class="contactSubcontainer">
      <ion-icon class="contactIcons" name="call-outline"></ion-icon>
      <div class="contactItems">
        <span class="subtitle">Phone</span><a  href="tel:+55(11)93489-0062">+55(11)93489-0062</a>
      </div>
    </div>
    <div class="contactSubcontainer">
      <ion-icon class="contactIcons" name="mail-outline"></ion-icon>
      <div class="contactItems">
        <span class="subtitle">Email</span
        ><a href="mailTo:gustavo.felixr@outlook.com">gustavo.felixr@outlook.com</a>
      </div>
    </div>
  </div>

  <form
    class="formEmailContainer"
    action="mailto:youraddr@domain.tld"
    method="GET"
  >
    <input class="inputsMailForm" name="subject" type="text" placeholder="Assunto do E-mail"/>
    <textarea class="inputsMailForm" name="body" placeholder="Descrição do e-mail, fique a vontade para tirar dúvidas"></textarea>
    <input type="submit" value="Send" />
  </form>
</section>
