<ion-footer id="contact"class="all">
  <div class="contactContainer">
    <h1 class="title">Interessado ?</h1>
    <ion-label class="subtitle"
      >Para negócios e parcerias aqui está meu contato!</ion-label
    >
    <div class="contactSubcontainer">
      <ion-icon class="contactIcons" name="call-outline"></ion-icon>
      <div class="contactItems">
        <ion-label class="subtitle">Phone</ion-label><a  href="tel:+55(11)93489-0062">+55(11)93489-0062</a>
      </div>
    </div>
    <div class="contactSubcontainer">
      <ion-icon class="contactIcons" name="mail-outline"></ion-icon>
      <div class="contactItems">
        <ion-label class="subtitle">Email</ion-label
        ><a href="mailTo:gustavo.felixr@outlook.com">gustavo.felixr@outlook.com</a>
      </div>
    </div>
  </div>

  <form
    class="formEmailContainer"
    action="mailto:youraddr@domain.tld"
    method="POST"
  >
    <input class="inputsMailForm" autocomplete="off" name="subject" type="text" placeholder="Assunto do E-mail"/>
    <textarea class="inputsMailForm" name="body" placeholder="Fique a vontade para tirar dúvidas!"></textarea>
    <input type="submit" class="buttonSend" value="Enviar" />
  </form>
</ion-footer>
