.headerContainer {
  display: flex;
  justify-content: space-around;
  background-color: #0f0f0f;
  height: 90px;
  .logoContainer {
    display: flex;
    align-items: center;
  }
  .textPurpleLogo {
    font-size: 24px;
    font-weight: 600;
    color: #7456ff;
  }
  .textWhiteLogo {
    font-size: 24px;
    font-weight: 600;
    color: #ffff;
  }
  .anchorContainer {
    -webkit-animation: appearFromLeft 1s ease;
    align-items: center;
    display: flex;
    width: 40%;
    justify-content: space-around;
    list-style: none;
    @media only screen and (max-width: 1024px){
        display: none;
    }
    .anchors {
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      text-decoration: none;
    }
    .anchors:hover {
      color: #7456ff;
      transition: 0.5s;
    }
  }
  .menuMobile{
    font-size: 40px;
    color: #fff;
  }
  .menuMobileContainer{
    display: flex;
    align-items: center;
    @media only screen and (min-width:1024px){
      display: none;
  
    }
  }
}
