<section class="headerContainer">
  <div class="logoContainer">
    <a (click)='scrollTo("home")'
      ><span class="textPurpleLogo">Gustavo</span
      ><span class="textWhiteLogo">Tech</span></a
    >
  </div>

  <nav class="anchorContainer">
    <a (click)='scrollTo("home")' class="anchors" >Sobre</a>
    <a (click)='scrollTo("formation")'class="anchors" >Formação</a>
    <a (click)='scrollTo("myProjects")'class="anchors">Projetos</a>
    <a (click)='scrollTo("techs")'class="anchors">Tecnologias</a>
    <a (click)='scrollTo("contact")'class="anchors" >Contato</a>
  </nav>
  <div class="menuMobileContainer">
    <ion-icon
      class="menuMobile"
      name="menu-outline"
      (click)="openMenu()"
    ></ion-icon>
  </div>
</section>
