<ion-header class="headerContainer">
  <div class="headerContainer">
    <img src="../../assets/logo.gif"  alt="logo" />
    <div class="cabecalhoMenu">
      <a class="bounce-top">Inicio</a>
      <a class="bounce-top" (click)="(test)">Sobre</a>
      <a class="bounce-top" (click)="(test)">Habilidades</a>
      <a class="bounce-top" (click)="(test)">Projetos</a>
      <a class="bounce-top" (click)="(test)">Contato</a>
      <a class="bounce-top" (click)="(test)"><ion-icon name="logo-linkedin"></ion-icon></a>
      <a class="bounce-top" (click)="(test)"><ion-icon name="logo-github"></ion-icon></a>
    </div>
  </div>
</ion-header>
