<ion-header class="headerContainer">
  <head>
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <input type="checkbox" id="active" />
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>
  <div class="wrapper">
    <ul>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Habildades</a></li>
      <li><a href="#">Projetos</a></li>
      <li><a href="#">Contato</a></li>

      <div class="socialMediaContainer">
        <a href=""><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href=""><ion-icon name="logo-github"></ion-icon></a>
        <a href=""><ion-icon name="logo-instagram"></ion-icon></a>
      </div>
    </ul>
  </div>
</ion-header>
