<ion-app>
  <ion-menu class="menuMobile" side="end" menuId="first" contentId="main">
    <ion-content>
      <div class="menuMobileContainer">
        <div class="menuHeader">
          <ion-icon
            name="close-outline"
            class="closeMenuMobile"
            (click)="closeMenu()"
          ></ion-icon>
          <div class="menuOptionsContainer">
           <span class="mobileMenuItem" (click)="scrollTo('home')">Sobre </span>
            <span class="mobileMenuItem" (click)="scrollTo('formation')">Formação</span>
            <span class="mobileMenuItem" (click)="scrollTo('myProjects')">Projetos</span>
            <span class="mobileMenuItem" (click)="scrollTo('techs')">Tecnologias</span>
            <span class="mobileMenuItem" (click)="scrollTo('contact')">Contato</span>
          </div>
        </div>
        <div class="socialContainer">
          <a class="anchors"href="https://www.linkedin.com/in/gufelix/"target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a class="anchors" href="https://github.com/gfr2003"target="_blank"><ion-icon name="logo-github"></ion-icon></a>
          <a class="anchors" href="https://www.instagram.com/gu2003fr/"target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
      </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>