<app-header></app-header>
<ion-content id="corpo">
<div class="all">
  <section class="home" id="home">
    <div class="menuText">
      <h1>Olá</h1>
      <h2><span class="textWhiteTitle">Eu sou </span><span class="textPurple">Gustavo Félix</span></h2>
      <span class="subtitle">Desenvolvedor Full Stack</span>
      <div class="line">____________</div>
      <div class="infoContainer">
        <span>
          Atuando na área desde 2021, cursando Análise e Desenvolvimento
          de Sistemas no centro universitário UNINTER, procurando sempre aprender e usar as melhores práticas
          para desenvolver um software de qualidade.
        </span>
        <div class="btnContainer">
          <ion-button><ion-icon name="reader-outline"></ion-icon>Download CV</ion-button>
          <ion-button color="tertiary">Mais</ion-button>
        </div>
      </div>
    </div>
      <img class="imageProfile"src="../.././assets/gustavo_felix-removebg-preview.png" />
    </section> 
</div>
<app-footer></app-footer>
</ion-content>
