// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
//   font-family: "Inter", sans-serif;
// }
.typewriter {
  display: flex;
}
.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 1s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 35%;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 35%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  margin: 40px;
}

.circle img {
  position: absolute;
  bottom: -1;
  background-size: cover;
}
// .headerContainer {
//   display: flex;
//   background-color: #0a192f;
//   justify-content: space-around;
//   align-items: center;
//   padding: 12px;
//   background: linear-gradient(68.15deg, #0a192f 16.62%, #06347a 85.61%);
// }

// .cabecalhoImagem img {
//   max-width: 100px;
//   max-height: 90px;
//   width: auto;
//   height: auto;
// }
// .cabecalhoMenu {
//   display: flex;
//   gap: 20px;
// }
.body {
  background: linear-gradient(68.15deg, #0a192f 16.62%, #06347a 85.61%);
  width: 100%;
  height: 100%;
}
.home {
  // background: linear-gradient(68.15deg, #0a192f 16.62%, #06347a 85.61%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gradient {
  background-size: 400% 400%;
  background-image: linear-gradient(-45deg, #ffffff, #06347a, #0a4fb8);
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 4s ease infinite;
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

p {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}

.menuText{
  font-size: 30px;
  color: #fff;

}

/*ashfdjahkdjakhdk*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  height: 100%;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #0a4fb8;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ccc;
}

/* Caption text */
.text {
  color: #ffff;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 12px;
  // position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #0a4fb8;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
