<app-header></app-header>
<ion-content>
  <section class="home" id="home">
    <div class="menuText">
      <div class="typewriter"><h1>Gustavo Félix</h1></div>
      <p class="gradient">Desenvolvedor Full Stack</p>
    </div>
    <div class="circle">
      <img src="../.././assets/gustavo_felix.JPG" />
    </div>
  </section>
  <section class="about" id="about">
    <h2>Sobre mim</h2>
    <div class="infoContainer">
      <span>
        Desenvolvedor Full-Stack desde 2021, cursando Análise e Desenvolvimento
        de Sistemas, procurando sempre aprender mais e usar as melhores práticas
        para desenvolver um código limpo.
      </span>
    </div>
      <ion-button color="secondary">Download CV</ion-button>
      <h2>Minhas Habilidades</h2>
  </section>
  <!-- <section>
      <span class="menuText">Sobre</span>

      <div class="slideshow-container">
        <div class="mySlides fade">
          <img
            src="../../assets/dev-finance.png"
            style="width: 100%; height: 350px"
          />
          <div class="text">Dev Finance$</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img
            src="../../assets/petshop.png"
            style="width: 100%; max-height: 350px"
          />
          <div class="text">Pet Shop Dev</div>
        </div>

        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img
            src="../../assets/devPizza.png"
            style="width: 100%; max-height: 350px"
          />
          <div class="text">Dev Pizza</div>
        </div>

        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot" (click)="currentSlide(1)"></span>
        <span class="dot" (click)="currentSlide(2)"></span>
        <span class="dot" (click)="currentSlide(3)"></span>
      </div>
    </section> -->
</ion-content>
<app-footer></app-footer>
