<app-header></app-header>
<ion-content >
  <div class="body">
    <section class="home" id="home">
      <div class="menuPrincipalTexto">
        <div class="typewriter"><h1>Gustavo Félix</h1></div>

        <p class="gradient">Hi! I am Developer Full Stack</p>
      </div>
      <div class="circle">
        <img src="../.././assets/gustavo_felix.JPG" />
      </div>
    </section>
    <section class="menuPrincipal" id="home">
      <div class="menuPrincipalTexto">
        <div class="typewriter"><h1>Gustavo Félix</h1></div>

        <p class="gradient">Hi! I am Developer Full Stack</p>
      </div>
      <div class="circle">
        <img src="../.././assets/gustavo_felix.JPG" />
      </div>
    </section>
  </div>
</ion-content>
<app-footer></app-footer>
