* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}
.all {
  display: flex;
  flex-direction: column;
  background:#0f0f0f;
  height: 100%;
}
.line{
  color: #9999;
}
.imageProfile {
  -webkit-animation: appearFromRight 1s ease;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menuText {
  @media only screen and (min-width: 1024px){
    width: 800px;
  }
  -webkit-animation: appearFromLeft 1s ease;
  font-size: 30px;
  color: #fff;
  margin-left: 10px;
  .btnContainer{
    -webkit-animation: appearFromShakeIt 2s ease-out;
  }
  span {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: #999999;
  }
  h2 {
    @media only screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      
    }
    .textWhiteTitle {
      font-weight: 600;
      font-size: 52px;
      color: #ffff;
      @media only screen and (max-width: 1024px){
        margin-bottom: 5%;
      }
    }
    .textPurple {
      font-weight: 600;
      font-size: 52px;
      color: #7456ff;
      @media only screen and (max-width: 1024px){
        line-height: 95%;
      }
    }
  }
  .subtitle {
    color: #999999;
    font-weight: 500;
    font-size: 20px;
  }
}
.socialIcon{
  color: #FFF;
}
